.navbar-body {
    /* background-color: rgb(84, 84, 230); */
    height: fit-content;
    display: flex;
    padding: 1vh 2vw;
    flex-direction: row-reverse;
        align-items: center;
}

.logout {
    background-color: blue;
    color:white;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    width: 6vw;
        height: 5vh;
}
.logout:active{
    background-color: grey;
}

@media(max-device-width:425px) {
    .logout {
        width: 14vw;
        height: 3vh;
        font-weight: 700;
        font-size: 2vw;
    border-radius: 10px;
    }
}